
@{
    ViewBag.Title = "Khách hàng";
    Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}

<!-- Page content -->
<div class="wrapper wrapper-content animated fadeInRight customer">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>Danh sách khách hàng</h5>
                    <div class="ibox-tools">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div><!-- ibox-title -->

                <div class="ibox-content">

                    <!-- Search group -->
                    <div class="row table-search-group">
                        <div class="col-md-3">
                            <input id="search-customername" class="form-control m-b" placeholder="Tên khách hàng">
                        </div>
                        <div class="col-md-3">
                            <input id="search-enterprise" class="form-control m-b" placeholder="Tên đơn vị">
                        </div>
                        <div class="col-md-3">
                            <input id="search-tax" class="form-control m-b" placeholder="Mã số thuế">
                        </div>
                    </div>
                    <!--Button group -->
                    <div class="row table-button-group">
                        <div class="col-md-6 left"></div>
                        <div class="col-md-6 right text-right">
                            <a href=@Url.Action("Create", "Customer") class="btn btn-primary main-action">
                                <i class="fa fa-plus"></i>Thêm khách hàng
                            </a>
                        </div>
                    </div>

                    <!-- Main table -->
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-custom" id="customer-table">
                            <thead>
                                <tr>
                                    <th>Tên Khách hàng</th>
                                    <th>Đơn vị</th>
                                    <th>MST</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Fax</th>
                                    <th>Ngân hàng</th>
                                    <th>Tài khoản ngân hàng</th>
                                    <th>Thao tác</th>
                                </tr>

                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>Tên Khách hàng</th>
                                    <th>Đơn vị</th>
                                    <th>MST</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Fax</th>
                                    <th>Ngân hàng</th>
                                    <th>Tài khoản ngân hàng</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <!-- Pagination -->
                    <div class="row table-pagination">
                        <div class="col-sm-7 left"></div>
                        <div class="col-sm-5 right"></div>
                    </div>

                </div>
            </div><!-- /.ibox -->
        </div>
    </div>
</div><!-- Page content -->

<!--Popup Customer-Product's Detail-->
<div class="modal fade in" id="modal-form-customerDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h3>
            </div>

            <div class="modal-body">
                <!--Product Table-->
                <h3>Danh sách sản phẩm</h3>
                <table class="table table-striped table-bordered table-hover table-custom" id="product-table">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Đơn vị</th>
                            <!--<th>Đơn giá</th>-->
                            <th>Số lượng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <!--End Product Table-->
                <!--Add Product-->
                <h3>Thêm sản phẩm</h3>
                <div style="width: 80%; margin-left:10%">
                    <table class="input-table" >
                        <tr>
                            <td>Tên sản phẩm</td>
                            <td>
                                <select id="product-list" class="form-control">
                                    <option>----- Chọn sản phẩm -----</option>
                                    @foreach (var product in ViewBag.Products)
                                    {
                                        <option value="@product.Id" data-unit="@product.Unit">@product.Name</option>
                                    }
                                </select>
                                <!--<input readonly class="form-control" id="product-id" />-->
                                <span class="product-error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Đơn vị</td>
                            <td>
                                <input readonly class="form-control" id="product-unit" />
                            </td>
                        </tr>
                      
                        <tr>
                            <td>Số lượng</td>
                            <td>
                                <input type="number" min="1" class="form-control" id="product-amount" />
                                <span class="amount-error"></span>
                            </td>
                        </tr>
                        
                        <tr>
                            
                            <td class="text-center" colspan="2">
                                <a id="save" class="btn btn-primary" data-action-type="create">Thêm</a>
                                <a data-dismiss="modal" class="btn btn-default">Đóng</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--End Add Product-->
            </div>
        </div>
    </div>
</div>

<template id="template-table-action">
    <div>
        <a class="link js-detail" 
           data-id=""
           data-name="">
            <span class="my-tooltip center">
                <i class="fa fa-info-circle"></i>
                <b class="tooltip-text">Chi tiết sản phẩm</b>
            </span>
        </a>
       
    </div>
</template>

@section scripts{
    <script src="~/Scripts/hieis-customer.js"></script>
    <script src="~/Scripts/hieis-tooltip.js"></script>
}
